@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background transition dark:bg-black;
  }

  body:has(#mobile-navigation[data-open='true']) {
    overflow: hidden;
  }

  body,
  .p {
    @apply text-black dark:text-white;
  }

  a {
    @apply transition;
  }

  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible,
  button:focus-visible,
  a:focus-visible {
    @apply outline-offset-4 outline-brand-dark;
  }

  .layout {
    @apply mx-auto w-[96%] max-w-layout sm:w-11/12;
  }
}

@layer components {
  .btn {
    @apply flex min-h-[2.125rem] w-fit min-w-[6rem] cursor-pointer items-center justify-center gap-2 rounded border border-brand-primary bg-brand-primary px-8 py-3 text-white transition hover:bg-brand-dark hover:text-gray-1 active:bg-brand-extra-dark active:text-gray-2 disabled:cursor-not-allowed disabled:border-brand-3 disabled:bg-brand-7 max-sm:min-h-[3.375rem] max-sm:w-full max-sm:text-lg sm:px-4 sm:py-1 [&:not(:disabled)]:shadow [&:not(:disabled)]:hover:shadow-sm;
  }

  .btn-outline {
    @apply btn border border-brand-dark bg-white text-brand-dark hover:border-brand-light hover:bg-brand-2 hover:text-brand-dark active:bg-brand-3 disabled:border-brand-5 disabled:bg-gray-1 disabled:text-brand-7;
  }

  .btn-text {
    @apply flex w-fit items-center justify-center rounded border border-transparent px-8 py-3 text-brand-primary transition hover:text-brand-light active:text-brand-dark disabled:cursor-not-allowed disabled:text-brand-7 max-sm:text-lg sm:px-4 sm:py-1 [&:not(:disabled)]:hover:bg-brand-2;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .top-shadow {
    box-shadow: 0px -8px 20px rgba(50, 50, 50, 0.25);
  }

  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}
